* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  width: 40%;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=tel] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #042e6f;
  color: white;
  padding: 10px 10px;
  margin: 1px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: bold;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

select {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  color: #042e6f;
  font-family: 'Roboto Slab', serif;
}

h1,
p {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #042e6f;
}

p {
  color: #00baf2;
}

#box {
  box-shadow: 0 0 25px #adacac;
  padding: 10px;
}

b {
  color: #042e6f;
  font-family: 'Roboto Slab', serif;
}

.error {
  text-align: center;
  color: red;
}

/* Add padding to containers */
.container {
  width: 50%;
  padding: 16px;
  background-color: white;
}

select {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=tel],input[type=email]{
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #042e6f;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  margin: 1px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

h1 {
  text-align: center;
  color: #042e6f;
  font-family: 'Roboto Slab', serif;
}

#input {
  box-shadow: 0 0 25px #adacac;
  padding: 10px;
}

b {
  color: #042e6f;
  font-family: 'Roboto Slab', serif;
}

/* header */

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00baf2;
  position: fixed;
  width: 100%;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.list {
  float: left;
  /* border-right:1px solid #bbb; */
}

.list:last-child {
  border-right: none;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list a:hover:not(.active) {
  background-color: #042e6f;
}

.active {
  background-color: #042e6f;
}

/* header end */

#footer {
  margin-top: 1px;
  text-align: center;
  padding: 3px;
  background-color: #00baf2;
  color: #042e6f;
}

#footer h6 {
  padding-top: 10px;
}

#step {
  padding-left: 10rem;
  margin-top: 2rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #042e6f;
}

.no-arrow {
  -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}