* {
    box-sizing: border-box;
}

#header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00baf2;
    position: fixed;
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.list {
    float: left;
    /* border-right:1px solid #bbb; */
}

.list:last-child {
    border-right: none;
}

.list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list a:hover:not(.active) {
    background-color: #042e6f;
}

.active {
    background-color: #042e6f;
}

#box {
    box-shadow: 0 0 25px #adacac;
    padding: 20px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}

.pre {
    color: #042e6f;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.note {
    color: #00baf2;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

#footer {
    margin-top: 180px;
    text-align: center;
    padding: 3px;
    background-color: #00baf2;
    color: #042e6f;
}

#footer h6 {
    padding-top: 10px;
}