<div class="header">
  <ul id="header">
    <li class="list"><a class="active" href="#home">INB Net Bank</a></li>
    <li class="list" style="float:right"><a routerLink="/login">Logout</a></li>
    <li class="list" style="float:left"><a routerLink="/customerrequest">Customer Requests</a></li>
    <li class="list" style="float:left"><a routerLink="/chequerequest">Cheque Requests</a></li>
  </ul>
</div>

<br><br> <br> <br>
<div id="footer">
  <h6>© INB Net Bank 2022 Copy rights received</h6>
</div>