<div class="header">
    <ul id="header">
        <li class="list"><a class="active" href="#home">INB Net Bank</a></li>
        <li class="list" style="float:right"><a routerLink="/login">Logout</a></li>
        <li class="list" style="float:left"><a routerLink="/customerrequest">Customer Requests</a></li>
        <li class="list" style="float:left"><a routerLink="/chequerequest">Cheque Requests</a></li>
        <!-- <li class="list" style="float:left"><a routerLink="/allcustomers">All Customers</a></li> -->
    </ul>
</div>

<br><br><br><br>
<table style="width: 70%;" [border]="1" id="employee">
    <tr>
        <th>Account Id</th>
        <!-- <th>Account Id</th> -->
        <th>Account Status</th>
        <th colspan="2" style="text-align: center;">Action</th>
    </tr>
    <tr *ngFor="let accept of accountDetails" >
        <td>{{accept.accountId}}</td>
       <!-- <td>{{accept.}}</td>  -->
        <td>{{accept.accountStatus}}</td>
        <!-- <td style="text-align: center;" ><button class="approve" value="approved" (click)="approve(accept)">Approve</button></td> -->
        <td style="text-align: center;" ><button class="approve" value="approved" (click)="approve(accept)">Approve</button></td>
        <td style="text-align: center;" ><button class="decline" value="decline" (click)="decline(accept)">Decline</button></td> 
 </tr>
</table>






   <br><br>
   <br><br> <br> <br>
   <div id="footer">
     <h6>© INB Net Bank 2022 Copy rights received</h6>
   </div>
     